@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: #00a9a5;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #2f2f2f;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #30011e;
  border-radius: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
