.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #2f2f2f;
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #30011e;
  border-radius: 10px;
}

.options {
  gap: 1rem;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .options {
    gap: 0.5rem;
  }
}
